body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #f0f0f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
  position: sticky;
  top: 0
}

.navbar-links{
  display: flex;
  list-style: none;
  gap: 20px
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #646cff  /* Color provisional */;
}